<div xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     xmlns:th="http://www.thymeleaf.org"
     layout:decorate="~{layout/base}"
     layout:fragment="content">

    <div class="row row-cols-1 row-cols-md-2 g-4 mb-3">
        <div class="col" th:each="attraction: ${attractions}">
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title" th:text="${attraction.name}">Card title</h5> <a class="btn"  th:href="@{'/attractions/edit/' + ${attraction.id}}" sec:authorize="hasRole('ADMIN')">Editar</a>
                    <p class="card-text" th:text="${attraction.description}">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
    </div>

    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-end">
            <li class="page-item"
                th:classappend="${pageCurrent == 1 ? 'disabled' : ''}">
                <a class="page-link" href="/attractions?page=1">Previous</a>
            </li>
            <li class="page-item"
                th:each="page: ${#numbers.sequence(1,totalPages)}"
                th:classappend="${page == pageCurrent ? 'active' : ''}" >
                <a class="page-link"
                   th:href="@{'/attractions?page=' + ${page}}"
                   th:text="${page}">1</a>
            </li>
            <li class="page-item"
                th:classappend="${totalPages == 1 || totalPages == pageCurrent ? 'disabled' : ''}">
                <a class="page-link"
                   th:href="@{'/attractions?page=' + ${pageCurrent + 1}}">Next</a>
            </li>
        </ul>
    </nav>
</div>