<div xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="~{layout/base}"
     layout:fragment="content"
     xmlns:th="http://www.thymeleaf.org">

    <a class="btn btn-info mb-3" href="/attractions/register">Voltar</a>

    <form name="f" th:action="@{/attractions/register_type}" th:object="${attractionTypeModel}" method="post">
        <h1 class="h3 mb-3 fw-normal">Informe os dados</h1>

        <div th:if="${param.registered}" class="alert alert-success alert-dismissible fade show" role="alert">
            Tipo de atração cadastrado com sucesso.
            <button type="button" class="btn-close" id="btnClose" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

        <div class="row mb-3">
            <div class="col-md-6">
                <div class="input-group has-validation">
                    <div class="form-floating is-invalid">
                        <input type="text" class="form-control" id="name"
                               th:classappend="${#fields.hasErrors('name') ? 'is-invalid' : ''}"
                               th:field="*{name}"/>
                        <label for="name">Título do tipo de atração</label>
                    </div>
                    <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="invalid-feedback">
                        error
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-12">
                <div class="input-group has-validation">
                    <div class="form-floating is-invalid">
                        <textarea type="text"
                                  class="form-control"
                                  id="description"
                                  rows="5"
                                  th:classappend="${#fields.hasErrors('description') ? 'is-invalid' : ''}"
                                  th:field="*{description}">
                        </textarea>
                        <label for="description">Descrição do tipo de atração</label>
                    </div>
                    <div th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="invalid-feedback">
                        error
                    </div>
                </div>
            </div>
        </div>
        <button class="btn btn-primary py-2" type="submit">Cadastrar</button>
    </form>

    <table class="table">
        <thead>
            <tr>
                <th>Título</th>
                <th>Descrição</th>
            </tr>
        </thead>
        <tbody>
            <!-- Loop through the registered AttractionTypes and display each one -->
            <tr th:each="attractionType : ${registeredAttractionTypes}">
                <td th:text="${attractionType.name}"></td>
                <td th:text="${attractionType.description}"></td>
            </tr>
        </tbody>
    </table>
    
</div>

<script>
    function fecharAlerta() {
        setTimeout(function() {
            var btn = document.getElementById('btnClose');
            if(btn) btn.click();
        }, 5000);
    }
    window.onload = fecharAlerta;
</script>